/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

body {
  margin: 0;
  display: block;
  /* display: flex;
  min-width: 320px;
  min-height: 100vh; */
  /* place-items: center; */
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid lightgray;
  background-color: rgb(9, 182, 154);
  color: rgb(233, 229, 229);
}
.navbar h1{
  color: rgb(213, 213, 214);
}
.navbar .links{
  margin-left: auto;
  color: white;
}
.sign{
  margin-left: 100px;
}
.navbar .anc{
  margin-left: 20px;
  text-decoration: none;
  color: white;
  padding: 1px;
}
a{
  text-decoration: none;
  color: white;
}
.navbar a:hover{
  color: rgb(26, 149, 26);
}
.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.dropDown{
  margin-left: 20px;
  color:black
}

/* .nav{
   width: 100%;
   display: flex;
   border: 1px solid midnightblue;
   margin: 0;


}
.links{
  display: flex;
  border: 1px solid midnightblue;
  flex-direction: row;
  justify-content:space-between;
}
  */
  
.navBox{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  border: 1px solid midnightblue;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
} 

/* landing page css below */
.hero{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
  border: 1px solid midnightblue;
  background-image: url(./assets/spce.png);

}


.box2{
  height: 300px;
  cursor: pointer;
}

.infoBar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid midnightblue;
  height: 300px;
  width: 100%;
  margin-bottom: 40px;
  background-color: midnightblue;
}

.mission{
  border: 1px solid midnightblue;
  border-radius: 10px;
  margin: 80px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
  background-color: white;

}
.theMission{
  border: 1px solid midnightblue;
  margin-top: 30px;
  color: lightgray;
}

/* diet page css below */
.hero1{
  display: flex;
  justify-content: center;
  background: url(./assets/heroBackground.png);
  background-size: contain;
}
.diet{
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid rgb(141, 138, 138);
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px;
  
  border-radius: 10px;
}
.dietBar{
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(211, 201, 8);
}
.paragraph1{
  padding-left:25px;
  padding-right: 25px;
  padding:25px;
  margin: 20px;
  color:white;
  background-color:rgb(62, 59, 59);
  border-radius: 5px;
  
}
.paragraph{
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  margin: 20px;
}
.divs{
  border: 1px solid;
  margin: 20px;
  width: 600px;
  overflow: hidden;
  border-radius: 5px;
}
.med{
  background-color: rgb(180,132,13);
}
.vegan1{
  background-color: rgb(38,134,91);
}
.carnivore1{
  background-color: rgb(153, 17, 17);
  color:antiquewhite
}
.keto1{
  background-color: rgb(188,172,116);
}
.medImage{
  margin: 20px;
  display: flex;
  justify-content: center;
  width: 40%;
  border-radius: 10px;
  border: 1px solid grey;
  background: url(./assets/mediteranian.png);
  background-size:cover;
}
.veganImage{
  margin: 20px;
  display: flex;
  justify-content: center;
  width: 40%;
  border-radius: 10px;
  border: 1px solid grey;
  background-size:cover;
  background: url(./assets/vegan.png);
  background-size:cover;
}
.carnivoreImage{
  margin: 20px;
  display: flex;
  justify-content: center;
  width: 40%;
  border-radius: 10px;
  border: 1px solid grey;
  background: url(./assets/carnivore.png);
  background-size:cover;
}
.ketoImage{
  margin: 20px;
  display: flex;
  justify-content: center;
  width: 40%;
  border-radius: 10px;
  border: 1px solid grey;
  background: url(./assets/keto.png);
  background-size:cover;
}
.flex{
  border: 5px solid grey;
  border-radius: 10px;
  margin: 20px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-around;
}

/* build strength page css below */

.h1Bar{
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgb(61, 61, 57);
  color: antiquewhite;
}
.strengthContainer{
  border: 2px solid lightgray;
  padding: 50px;
  width: 800px;
  color: aliceblue ;
  background-color: black;
  margin:50px;
}
.gradient{
  display: flex;
  justify-content: center;
  width:100%;
  height: 100%;
  background-image: linear-gradient(rgb(84, 72, 72), rgb(113, 60, 44));
}
